doctype html
html
	head
		title Messenger
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
		link(rel='shortcut icon', type='image/gif', href='/images/favicon.png')
		block stylesheet
	body
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js').
		block content
		script(src='/bootstrap/js/bootstrap.min.js').